
<% if session[:user_id] != nil %>
  <h3> Welcome, <%= @user.name %>!</h3>
<% else %>
  <h3> Please log in </h3>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_description_cont, placeholder: "Search Products"%>
  <%= f.submit "search" %>
<% end %>

<h2> Featured Pets </h2>
<!-- Wrapper Around Orbit -->
<div class="orbit" role="region" aria-label="Chuck Norris Quotes" data-orbit>
  <!-- Previous and Next Buttons -->
  <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span> &#9664;&#xFE0E;</button>
  <button class="orbit-next"><span class="show-for-sr">Next Slide</span> &#9654;&#xFE0E;</button>

  <!-- Unordered List of photos or text for carousel -->
  <ul class="orbit-container">
    <% @chosen_pets.each do |pet| %>
      <li class="orbit-slide">
        <h3> <%= link_to pet.name, product_path(pet.id) %> </h3>
        <h6><%= number_to_currency(pet.price/100) %></h6>
        <%= image_tag pet.picture, alt: "#{pet.name} image"  %>
      </li>
    <% end %>
  </ul>
  <!-- Navigation Buttons for Accessibility -->
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
  </nav>
</div>

<h2>Page with slick</h2>

<div class="scroller">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>


<% if flash[:notice] %>
  <hr/>
  <p class="flash-notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<%= link_to("All Pets", products_path)%>
<%= link_to("All Merchants", users_path) %>
