
<% if session[:user_id] != nil %>
  <h3> Welcome, <%= @user.name %>!</h3>
<% else %>
  <h3> Please log in </h3>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_description_cont, placeholder: "Search Products"%>
  <%= f.submit "search" %>
<% end %>

<h2>Featured pets</h2>

<% @chosen_pets.each do |pet| %>
  <div class="slide">
    <h3><%= link_to pet.name, product_path(pet.id) %></h3>
    <%= image_tag pet.picture, alt: "#{pet.name} image"  %>
  </div>
<% end %>

<% if flash[:notice] %>
  <hr/>
  <p class="flash-notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<%= link_to("All Pets", products_path)%>
<%= link_to("All Merchants", users_path) %>
