

<% if @user %>
  <h3> Welcome, <%= @user.name %>!</h3>
<% else %>
  <h3> Please log in </h3>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_description_cont, placeholder: "Search Products"%>
  <%= f.submit "search" %>
<% end %>

<!-- <div class="wrapper row">
  <div class="small-10 medium-10 large-10 columns" id="carousel"> -->
    <h2>Slick Carousel</h2>

    <div class="scroller", data-slick='{"slidesToShow": 2, "slidesToScroll": 1}'>
      <% @chosen_pets.each do |pet| %>
        <div class="slide">
          <h3><%= link_to pet.name, product_path(pet.id) %></h3>
          <%= image_tag pet.picture, alt: "#{pet.name} image"  %>
        </div>
      <% end %>
    </div>
  <!-- </div>
</div> -->

<!-- <h2>CSS Carousel</h2>

<div id="slider">
  <div id="slide-holder">
    <%# @chosen_pets.each do |pet| %>
      <h3> <%# link_to pet.name, product_path(pet.id) %> </h3>
      <div class="slide"> <%# image_tag pet.picture, alt: "#{pet.name} image"  %> </div>
    <%# end %>
  </div>
</div> -->


<% if flash[:notice] %>
  <hr/>
  <p class="flash-notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<%= link_to("All Pets", products_path)%>
<%= link_to("All Merchants", users_path) %>
