<h1>Edit Your Profile</h1>

<%= form_for @user, url: user_path(@user.id) do |f| %>
<%= f.label :name %>
<%= f.text_field :name%>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.submit %>
<%end%>
<!-- <p>Find me in app/views/users/edit.html.erb</p> -->
