<h1><%=@user.name%></h1>
<image><%= image_tag(@user.avatar)%></image>
<h3>Username: <%=@user.username%></h3>
<h3><%= link_to("Edit Profile", edit_user_path(@user.id)) %></h3>
<p><%= link_to 'Delete Your Profile',url_for(action: :destroy,id: @user.id),method: :delete, data: {confirm: "Are you sure?"} %></p>

<h4>Pets You Sell</h4>
<p> Your average product rating:
  <% (@user.average_rating).times do %>
    <h4 class ="stars">⭐️</h4>
    <%end%></p>
    
<ul>
  <% @products.each do |pet|%>
    <li><%=link_to(pet.name, product_path(pet.id)) %>
      Quantity Available: <%=pet.quantity%>
      <%if pet.active %>
        Active
      <%else%>
        Inactive
      <%end%>
    </li>
  <%end%>
</ul>
