<h1><%=@user.name%></h1>
<image><%= image_tag(@user.avatar)%></image>
<h3>Username: <%=@user.username%></h3>
<h3><%= link_to("Edit Profile", edit_user_path(@user.id)) %></h3>
<h4>Pets You Sell</h4>
<ul>
  <% @products.each do |pet|%>
    <li><%=link_to(pet.name, product_path(pet.id)) %></li>
  <%end%>
</ul>
