<h1>Orders#create</h1>

<%= params %>
<p>
  <%= session[:user_id] == nil %>
  <%= @order.products.size %>
</p>
<%= session[:cart] %>

<p>
  <%= @orderproduct == nil %>
</p>

<%= @orderproduct %>
<%= @orderproduct.product_id %>
<%= @orderproduct.order_id %>
<%= @orderproduct.quantity %>
<%= params[:order_product][:quantity] %>
<%= params[:order_product][:product_id] %>
