<h1>Orders#edit</h1>
<p>Find me in app/views/orders/edit.html.erb</p>

<%= @orderproducts %>

<!-- <h2> Shopping Cart </h2>
<table>
  <tr>
    <td> Pet </td>
    <td> Quantity </td>
    <td> Update </td>
  </tr>
  <%# @orderproducts.each do | orderproduct | %>
    <tr>
      <%# form_for orderproduct, controller: "orders", action: "update", url: orders_path do |f| %>
        <td> <%#link_to(orderproduct.product.name, product_path(orderproduct.product.id)) %></td>
        <td> <%# f.number_field :quantity, :quantity => nil, :min => 0, :max => orderproduct.product.quantity, :required => true %> </td>
        <td> <%# f.submit "Update" %> </td>
    </tr>

  <%# end %>
</table> -->


<% @orderproducts.each do | orderproduct | %>
  <%= form_for orderproduct, controller: "orders", action: "update", url: orders_path do |f| %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity, :quantity => nil, :min => 0, :max => orderproduct.product.quantity, :required => true   %>
    <%# f.hidden_field :product_id, :value => @product.id %>

    <%= f.submit "Update" %>
  <%end%>
<% end %>

<%= params %>
