
<div class="large-12 columns">
  <h2> Shopping Cart </h2>
  <table class="shopping-cart">
    <tr>
      <th> Pet </th>
      <th> Quantity </th>
      <th> Update </th>
      <th> Subtotal </th>
      <th>  </th>
    </tr>
    <% @order.order_products.each do | orderproduct | %>
      <tr>
        <%= form_for orderproduct, controller: "orders", action: "create", url: orders_path, method: "post" do |f| %>
          <td> <%= link_to(orderproduct.product.name, product_path(orderproduct.product.id)) %></td>
          <td> <%= f.number_field :quantity, :quantity => nil, :min => 0, :max => orderproduct.product.quantity, :required => true %> </td>
          <%= f.hidden_field :product_id, :value => orderproduct.product.id %>
          <td> <%= f.submit("Update", class: "update-btn") %></td>
          <td> <%= number_to_currency(orderproduct.subtotal/100) %> </td>
          <td> <%= link_to("Remove", url_for(action: :destroy, id: orderproduct.id), method: :delete, data: {confirm: "Are you sure?"} ) %></td>
        <% end %>
      </tr>
    <% end %>
    <tr class="cart_total">
      <td> </td>
      <td> <%= button_to("Empty Cart", url_for(action: :destroy, order_id: @order.id), method: :delete, data: {confirm: "Are you sure?"} ) %> </td>
      <td> </td>  <%# This seems like a hacky way to get the total in the right column%>
      <th> <%= number_to_currency(@order.cart_total/100) %> </th>
      <td> <%= button_to("Place order", url_for(action: :index), method: :get, params: {order_id: @order.id}) %> </td>
    </tr>
  </table>
</div>

<%# "OrderProducts: #{@orderproducts}"%>
<%# "User ID: #{@current_user} | Buyer ID: #{@order.buyer_id} | Session user_id: #{session[:user_id] } | Session guest_id: #{session[:guest_id] }  |  Status: #{@order.status}  |  Order ID: #{@order.id} | Valid Order: #{@order.valid?} " %>

<!-- This will reload the page ONCE - so that the update button will work even with Turbolinks on -->
<!-- <script type="text/javascript">
  $(document).ready(function(){
  //Check if the current URL contains '#'
  if(document.URL.indexOf("#")==-1)
  {
  // Set the URL to whatever it was plus "#".
  url = document.URL+"#";
  location = "#";
  //Reload the page
  location.reload(true);
  }
  });
</script> -->
