
<%#= params %>
<div class="order-form">
  <h2>Please Enter Details for Your Order</h2>
  <%= form_for @order do |f| %>
  <div class="row">
    <div class="small-8">
          <!-- <label for="shipping_address"> -->
            <%= f.label :shipping_address%>
            <%= f.text_field :address %><br />
          <!-- </label> -->
        <%= f.label :credit_card_number %>
        <%= f.text_field :cc_number %><br />

        <%= f.label :credit_card_expiration_date %>
        <%= f.date_select :cc_expiration, :order => [:day, :month, :year] %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
