<h1>Products</h1>
<section>
  <% if @products != Product.all %>
    <%= link_to "All", products_path %>
  <% end %>
  <% @categories.each do |category| %>
    <%= link_to category.name, products_path(category_id: category.id) %>
  <% end %>
</section>

<section class="row small-up-1 medium-up-1 large-up-2">
<% if !@products.empty? %>
  <% @products.each do |product| %>
    <% if product.active %>
      <div class="product-card column">
        <h3><%= link_to(product.name, product_path(product.id)) %></h3>
        <h6><%= number_to_currency(product.price/100) %></h6>
        <image><%= image_tag(product.picture)%></image>
      </div>
    <% end %>
  <% end %>
<% else %>
  Product not found.
<% end %>
</secton>
