<h1>Products</h1>
<section>
  <% if @products != Product.all %>
    <%= link_to "All", products_path %>
  <% end %>
  <% @categories.each do |category| %>
    <%# link_to category.name, products_path %>
    <!-- add category controller and do... -->
    <%= link_to category.name, products_path(category_id: category.id) %>
    <%# link_to category.name, category_path(id: category.id) %>
  <% end %>
</section>

<% if !@products.empty? %>
  <% @products.each do |product| %>
    <% if product.active %>
      <h3><%= link_to(product.name, product_path(product.id)) %></h3>
      <h3><%= product.description %></h3>
      <image><%= image_tag(product.picture)%></image>
    <% end %>
  <% end %>
<% else %>
  Product not found.
<% end %>
