<h1>Add a New Product</h1>

<%= form_for @product, url: root_path do |f| %>

<%= f.label :name %>
<%= f.text_field :name%>

<%= f.label :price %>
<%= f.text_field :price %>

<%= f.label :quantity %>
<%= f.text_field :quantity %>


<%# f.select(:category_ids, @categories, :name, { multiple: true }) %>
<%# f.collection_select :category_ids, @categories,:id,:name, include_blank: true %>
<%# f.select :category, options_for_select(Product.categories) %>

<%= f.fields_for :product_categories do |pc_form| %>
   <%= pc_form.hidden_field :category_type %>
   <%= pc_form.fields_for :category do |c_form| %>
     <%= c_form.label :name, "Add Category" %>:
     <%= c_form.text_field :name %>
   <% end %>
 <% end %>


<%= f.fields_for :categories do |m| %>
  <%= m.label :name, "Add Category" %>
  <%= m.text_field :name %>
<% end %>


<%= f.label :description %>
<%= f.text_area :description %>

<%= f.label :picture %>
<%= f.text_field :picture %>

<%= f.hidden_field :user_id, :value => @product.user_id %>

<%= f.submit %>

<% end %>
