<h1>Add a New Product</h1>

<%= form_for @product, url: products_path do |f| %>

<%= f.label :name %>
<%= f.text_field :name%>

<%= f.label :price %>
<%= f.text_field :price %>

<%= f.label :quantity %>
<%= f.text_field :quantity %>

<%= f.fields_for :categories do |m| %>
  <%= m.label :name, "Add Category" %>
  <%= m.text_field :name %>
<% end %>

<!-- THIS WORKS -->
<%# f.label :category_ids, "Choose Categories" %>
<%# f.collection_select :category_ids, Category.all, :id, :name, {},  {:multiple => true} %>
<!-- END -->

<%# f.collection_select :category_ids, Category.all << Category.new(:name => params[:categories][:name]), :id, :name, {},  {:include_blank => true, :multiple => true} %>

<%# f.select(:category_ids, @categories.collect {|p| [ p.name, p.id ] } + [ [ 'Or create a new one', 'new' ] ], {:include_blank => 'Please select a category'}) %>

<%# f.fields_for :category, @product.categories.build do |categories_fields| %>
  <%# categories_fields.label :name, "Add New Category" %>
  <%# categories_fields.text_field :name %>
<%# end %>

<%= f.label :description %>
<%= f.text_area :description %>

<%= f.label :picture %>
<%= f.text_field :picture %>

<%# f.hidden_field :user_id, :value => @product.user_id %>
<%= f.hidden_field :user_id, value: session[:user_id] %>
<%= f.hidden_field :active, value: true %>

<%= f.submit %>

<% end %>
