
<h2><%=@product.name%></h2>
<p>Price: <%=number_to_currency(@product.price/100)%></p>



<%= form_for @orderproduct, controller: "orders", action: "create", method: "post", url: orders_path do |f| %>

  <%= f.label :quantity %>
  <%= f.number_field :quantity, :quantity => @orderproduct.quantity, :min => 0, :max => @product.quantity, :required => true   %>
  <%= f.hidden_field :product_id, :value => @product.id %>

  <%= f.submit "Add to cart", class: "update-btn"  %>
<%end%>


<% if @product.quantity > 0  &&  @product.active %>
  <p>This product is available.</p>
<% else %>
  <p>This product is currently out of stock.</p>
<%end%>

<p> Quantity available: <%=@product.quantity%></p>
<p><%=@product.description%></p>

<p>Sold by: <%= link_to @product.user.username, by_merchant_path(@product.user_id) %></p>
<image><%= image_tag(@product.picture)%></image>

<h3>Product Reviews</h3>
<p>Average product rating:
  <% if @product.reviews.length > 0 %>
    <% (@product.average_rating).times do %>
      <h4 class ="stars">⭐️</h4>
      <% end %>
  <% else %>
    <p>There are no reviews yet for this pet.</p>
  <%end%>
</p>

<p>
  <!-- make method to check if user purchased a product into a model method so we can call it here (and show link only if they purchased product) -->
  <% if @user_products.include? (Product.find(params[:id])) %>
    <%= link_to "Add a Review", product_reviews_new_path(@product.id) %>
  <% end %>
</p>
<% @reviews.each do |review| %>
  <h4><%=review.title%></h4>
  <% (review.rating).times do %>
   <h4 class ="stars">⭐️</h4>
   <%end%>
  <p><%= review.description%></p>
  <hr/>
<%end%>
