<h1><%=@product.name%></h1>
<p>Price: <%=number_to_currency(@product.price)%></p>

<% if @product.quantity > 0 %>
  <p>This product is available.</p>
<% else %>
  <p>This product is currently out of stock.</p>
<%end%>

<p> Quantity available: <%=@product.quantity%></p>
<p><%=@product.description%></p>
<image><%= image_tag(@product.picture)%></image>

<h3>Product Reviews</h3>
<% @reviews.each do |review| %>
  <h4><%=review.title%></h4>
  <% (review.rating).times do %>
   <h4 class ="stars">⭐️</h4>
   <%end%>
  <p><%= review.description%></p>
  <hr/>
<%end%>
