<h1><%=@product.name%></h1>
<p>Price: <%=number_to_currency(@product.price)%></p>

<%# if session[:user_id] != nil %>
  <%= form_for @orderproduct, controller: "orders", action: "create", url: orders_path do |f| %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity, :quantity => nil, :min => 0, :max => @product.quantity, :required => true   %>
    <%= f.hidden_field :product_id, :value => @product.id %>

    <%= f.submit "Add to cart" %>
  <%end%>
<%# end %>

<% if @product.quantity > 0  &&  @product.active %>
  <p>This product is available.</p>
<% else %>
  <p>This product is currently out of stock.</p>
<%end%>

<p> Quantity available: <%=@product.quantity%></p>
<p><%=@product.description%></p>
<image><%= image_tag(@product.picture)%></image>

<h3>Product Reviews</h3>
<p>Average product rating:
  <% if @product.reviews.length > 0 %>
    <% (@product.average_rating).times do %>
      <h4 class ="stars">⭐️</h4></p>
      <%end%>
  <% else %>
    <p>There are no reviews yet for this pet.</p>
  <%end%>

<% @reviews.each do |review| %>
  <h4><%=review.title%></h4>
  <% (review.rating).times do %>
   <h4 class ="stars">⭐️</h4>
   <%end%>
  <p><%= review.description%></p>
  <hr/>
<%end%>
