<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Petsy" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  </head>

  <body>
    <header>
      <image><%= image_tag('pets.jpg')%></image>
      <%# Links to Login/Logout  %>
      <% if session[:user_id] == nil %>
        <%= link_to("Login via Github", "/auth/github") %>  <%# i.e. "/auth/:provider" %>
      <% else %>
        <%= link_to("Logout", "/sessions/destroy", method: "delete") %>
      <% end %>

      <%# Link to Homepage  %>
      <h1><%= link_to("PETsy", root_path)%></h1>
      <%# Link to User Profile (if logged in) %>
      <% if session[:user_id] != nil%>
        <p><%= link_to("Profile", user_path(session[:user_id])) %></p>
      <%end%>
      <%# Link to Shopping Cart %>
      <% if session[:user_id] != nil%>
        <%= link_to("View Cart", edit_order_path(session[:user_id])) %>
      <% else %>
        <%= link_to("View Cart", edit_order_path("guest")) %>
      <%end%>
      <hr/>
    </header>

    <%= yield %>

  </body>

</html>
