<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Petsy" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="fixed">
        <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" data-options="is_hover: false">
        <%# Links to Login/Logout  %>
        <ul>
      <% if session[:user_id] == nil %>
        <p><%= link_to("Login via Github", "/auth/github") %></p>
        <li class="divider"></li>
          <%# i.e. "/auth/:provider" %>
      <% else %>
        <p><%= link_to("Logout", "/sessions/destroy", method: "delete") %></p>
        <li class="divider"></li>
      <% end %>

      <%# Link to User Profile (if logged in) %>
      <% if session[:user_id] != nil%>
        <p><%= link_to("Profile", user_path(session[:user_id])) %></p>
        <li class="divider"></li>
      <%end%>
      <%# Link to Shopping Cart %>
      <% if session[:user_id] != nil%>
        <p><%= link_to("View Cart", edit_order_path(session[:user_id])) %></p>
        <li class="divider"></li>
      <% else %>
        <p><%= link_to("View Cart", edit_order_path("guest")) %></p>
        <li class="divider"></li>
      <%end%>
          </ul>
        </nav>
      </div>

      <div class="image-wrapper">
      <image><%= image_tag('pets.jpg')%></image>

      <%# Link to Homepage  %>
      <h1><%= link_to("PETsy", root_path)%></h1>

      </div>
      <hr/>
    </header>

    <%= yield %>

  </body>

</html>
