<!DOCTYPE html>
<html>
<head>
  <title>Petsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if session[:user_id] == nil %>
      <%= link_to("Login via Github", "/auth/github") %>  <%# i.e. "/auth/:provider" %>
    <% else %>
      <%= link_to("Logout", "/sessions/destroy", method: "delete") %>
    <% end %>

    <h1><%= link_to("PETSY", root_path)%></h1>
    <hr/>

  </header>

<%= yield %>

</body>
</html>
